.logoContainer {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.aviasalesLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-top: 50px; 
}
